# Build output
dist/
.astro/

# Dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment variables
.env
.env.production
.env.local

# macOS / Windows cruft
.DS_Store
Thumbs.db
*:Zone.Identifier
* - Copy*

# Editor configs (private)
.vscode/settings.json
.idea/

# Misc
.cache/
.tmp/
